body {
  margin: 0;
  padding: 0;
}

.step1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 170px;
  height: 50px;
  color: white;
  background-color: rgb(66, 66, 189);
  box-shadow: 0px 11px 23px -8px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-family: sans-serif;
}

.change {
  background-color: skyblue;
}

.step2 {
  font-size: 48px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.more,
.less {
  cursor: pointer;
}

.step3 {
  height: 50vh;
  margin-left: 20%;
  margin-right: 50%;
}

.counter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.lettercalc {
  display: flex;
}

.step4 {
  width: 100vw;
  height: 30vh;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.html {
  width: 10%;
}

.css {
  width: 7%;
}

.js {
  width: 17%;
}

.borderHtml {
  border: 1px solid orangered;
}

.borderCss {
  border: 1px solid rgb(16, 61, 119);
}

.borderjs {
  border: 1px solid orange;
}

.step5 {
  width: 100vw;
  height: 100vh;
}

.slider {
  overflow-x: hidden;
  width: 400px;
  height: 400px;
}

.slides {
  position: relative;
  display: flex;
  width: 1600px;
  height: 400px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: burlywood;
}

.arrowLeft {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  top: 50%;
  left: 1%;
}

.arrowRight {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  top: 50%;
  left: 23%;
}

.step6 {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
